{% extends 'base.html.twig' %}

{% block title %}New Response{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="form-title">Create New Response</h1>

        {{ include('reponse/_form.html.twig') }}

        <div class="form-buttons">
            <button type="submit" class="submit-btn">Submit</button>
            <a href="{{ path('app_reponse_index') }}" class="back-btn">Back to List</a>
        </div>
    </div>
{% endblock %}
