{% extends 'base.html.twig' %}

{% block title %}New Response{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="form-title">Create New Response</h1>

        {{ include('reponse/_form.html.twig') }}
        <script>
            console.log("ID Réclamation : {{ id_reclamation }}");
        </script>
    </div>
{% endblock %}
