<footer class="gs-footer-section" style="background-color: #323232; color: white; padding: 20px 0;">
    <div class="gs-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom-content text-center">
                        <p>COPYRIGHT © 2024. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>