{% extends 'base.html.twig' %}

{% block title %}Edit Réclamation{% endblock %}

{% block body %}
    <h1>Edit Réclamation</h1>

    {{ include('réclamation_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_r_clamation_crud_index') }}">back to list</a>

    {{ include('réclamation_crud/_delete_form.html.twig') }}
{% endblock %}
