{% extends 'base.html.twig' %}

{% block title %}New Réclamation{% endblock %}

{% block body %}
    <h1>Create new Réclamation</h1>

    {{ include('réclamation_crud/_form.html.twig') }}

    <a href="{{ path('app_r_clamation_crud_index') }}">back to list</a>
{% endblock %}
