{% extends 'base.html.twig' %}
{% block body %}
	<div class="page">
		<div class="page-main">
			<!-- Header Menu Area Start -->
			<div class="header">
				<div class="container-fluid">
					<div class="d-flex mobile-menu-check justify-content-between">
						<a class="admin-logo" href="https://cleandemo.geniusocean.net/geniuscart2" target="_blank">
							<img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/1730281140Blackpng.png" alt="">
						</a>
						<div class="menu-toggle-button">
							<a class="nav-link" href="javascript:;" id="sidebarCollapse">
								<div class="my-toggl-icon">
									<span class="bar1"></span>
									<span class="bar2"></span>
									<span class="bar3"></span>
								</div>
							</a>
						</div>

						<div class="right-eliment">
							<ul class="list">
								<input type="hidden" id="all_notf_count" value="https://cleandemo.geniusocean.net/geniuscart2/admin/all/notf/count">
								<li class="bell-area">
									<a class="dropdown-toggle-1" target="_blank" href="https://cleandemo.geniusocean.net/geniuscart2">
										<i class="fas fa-globe-americas"></i>
									</a>
								</li>

								<li class="bell-area">
									<a id="notf_conv" class="dropdown-toggle-1" href="javascript:;">
										<i class="far fa-envelope"></i>
										<span id="conv-notf-count">0</span>
									</a>
									<div class="dropdown-menu">
										<div class="dropdownmenu-wrapper" data-href="https://cleandemo.geniusocean.net/geniuscart2/admin/conv/notf/show"
											id="conv-notf-show">
										</div>
									</div>
								</li>

								<li class="bell-area">
									<a id="notf_product" class="dropdown-toggle-1" href="javascript:;">
										<i class="icofont-cart"></i>
										<span id="product-notf-count">0</span>
									</a>
									<div class="dropdown-menu">
										<div class="dropdownmenu-wrapper" data-href="https://cleandemo.geniusocean.net/geniuscart2/admin/product/notf/show"
											id="product-notf-show">
										</div>
									</div>
								</li>

								<li class="bell-area">
									<a id="notf_user" class="dropdown-toggle-1" href="javascript:;">
										<i class="far fa-user"></i>
										<span id="user-notf-count">0</span>
									</a>
									<div class="dropdown-menu">
										<div class="dropdownmenu-wrapper" data-href="https://cleandemo.geniusocean.net/geniuscart2/admin/user/notf/show"
											id="user-notf-show">
										</div>
									</div>
								</li>

								<li class="bell-area">
									<a id="notf_order" class="dropdown-toggle-1" href="javascript:;">
										<i class="far fa-newspaper"></i>
										<span id="order-notf-count">1</span>
									</a>
									<div class="dropdown-menu">
										<div class="dropdownmenu-wrapper" data-href="https://cleandemo.geniusocean.net/geniuscart2/admin/order/notf/show"
											id="order-notf-show">
										</div>
									</div>
								</li>

								<li class="login-profile-area">
									<a class="dropdown-toggle-1" href="javascript:;">
										<div class="user-img">
											<img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/admins/1556780563user.png"
												alt="">
										</div>
									</a>
									<div class="dropdown-menu">
										<div class="dropdownmenu-wrapper">
											<ul>
												<h5>Welcome!</h5>
												<li>
													<a href="https://cleandemo.geniusocean.net/geniuscart2/admin/profile"><i class="fas fa-user"></i>
														Edit Profile</a>
												</li>
												<li>
													<a href="https://cleandemo.geniusocean.net/geniuscart2/admin/password"><i class="fas fa-cog"></i>
														Change Password</a>
												</li>
												<li>
													<a href="https://cleandemo.geniusocean.net/geniuscart2/admin/logout"><i
															class="fas fa-power-off"></i> Logout</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Header Menu Area End -->
			<div class="wrapper">
				<!-- Side Menu Area Start -->
				<nav id="sidebar" class="nav-sidebar">
					<ul class="list-unstyled components" id="accordion">
						<li>
							<a href="https://cleandemo.geniusocean.net/geniuscart2/admin" class="wave-effect"><i
									class="fa fa-home mr-2"></i>Dashboard</a>
						</li>
													<li>
    <a href="#order" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false"><i
            class="fas fa-hand-holding-usd"></i>Orders</a>
    <ul class="collapse list-unstyled" id="order" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders"> All Orders</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=pending"> Pending Orders</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=processing"> Processing Orders</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=completed"> Completed Orders</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=declined"> Declined Orders</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/order/create"> Pos</a>
        </li>

    </ul>
</li>

<li>
    <a href="#menu1" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-flag"></i>Manage Country
    </a>
    <ul class="collapse list-unstyled" id="menu1" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/manage/country"><span>Country</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/manage/country/tax"><span>Manage Tax</span></a>
        </li>
    </ul>
</li>



<li>
    <a href="#income" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false"><i
            class="fas fa-hand-holding-usd"></i>Total Earning</a>
    <ul class="collapse list-unstyled" id="income" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/tax/calculate"> Tax Calculate</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/subscription/earning"> Subscription Earning</a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/withdraw/earning"> Withdraw Earning</a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/commission/earning"> Commission Earning</a>
        </li>

    </ul>
</li>


<li>
    <a href="#menu5" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false"><i
            class="fas fa-sitemap"></i>Manage Categories</a>
    <ul class="collapse list-unstyled
        "
        id="menu5" data-parent="#accordion">
        <li class="">
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/category"><span>Main Category</span></a>
        </li>
        <li class="">
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/subcategory"><span>Sub Category</span></a>
        </li>
        <li class="">
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/childcategory"><span>Child Category</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#menu2" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-cart"></i>Products
    </a>
    <ul class="collapse list-unstyled" id="menu2" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/types"><span>Add New Product</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products"><span>All Products</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/deactive"><span>Deactivated Product</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/catalogs"><span>Product Catalogs</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/product-settings"><span>Product Settings</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#affiliateprod" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-opencart"></i>Affiliate Products
    </a>
    <ul class="collapse list-unstyled" id="affiliateprod" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/import/create-product"><span>Add Affiliate Product</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/import/index"><span>All Affiliate Products</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/import"><i class="fas fa-upload"></i>Bulk Product Upload</a>
</li>

<li>
    <a href="#menu4" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-speech-comments"></i>Product Discussion
    </a>
    <ul class="collapse list-unstyled" id="menu4" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/ratings"><span>Product Reviews</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/reports"><span>Reports</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/coupon" class=" wave-effect"><i
            class="fas fa-percentage"></i>Set
                                Coupons</a>
</li>

<li>
    <a href="#menu3" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-user"></i>Customers
    </a>
    <ul class="collapse list-unstyled" id="menu3" data-parent="#accordion">
        <li>
            <a href="{{ path('app_user') }}"><span>Customers List</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/users/withdraws"><span>Withdraws</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/user/default/image"><span>Customer Default Image</span></a>
        </li>
    </ul>
</li>



<li>
    <a href="#riders" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-users"></i>Riders
    </a>
    <ul class="collapse list-unstyled" id="riders" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/riders"><span>Rider List</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/riders/withdraws"><span>Withdraws</span></a>
        </li>

    </ul>
</li>

<li>
    <a href="#customerDeposit" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-money"></i>Customer Deposits
    </a>
    <ul class="collapse list-unstyled" id="customerDeposit" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/users/deposits/all"><span>Completed Deposits</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/users/deposits/pending"><span>Pending Deposits</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/users/transactions"><span>Transactions</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#vendor" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-ui-user-group"></i>Vendors
    </a>
    <ul class="collapse list-unstyled" id="vendor" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/vendors"><span>Vendors List</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/vendors/withdraws"><span>Withdraws</span></a>
        </li>

    </ul>
</li>

<li>
    <a href="#vendorSubs" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-user-suited"></i>Vendor Subscriptions
    </a>
    <ul class="collapse list-unstyled" id="vendorSubs" data-parent="#accordion">
        <li>
            <a
                href="https://cleandemo.geniusocean.net/geniuscart2/admin/vendors/subs/completed"><span>Completed Subscriptions</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/vendors/subs/pending"><span>Pending Subscriptions</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#vendor1" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-verification-check"></i>Vendor Verifications
    </a>
    <ul class="collapse list-unstyled" id="vendor1" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/verificatons/all"><span>All Verifications</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/verificatons/pending"><span>Pending Verifications</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/subscription" class=" wave-effect"><i
            class="fas fa-dollar-sign"></i>Vendor Subscription Plans</a>
</li>

<li>
    <a href="#msg" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-fw fa-newspaper"></i>Messages
    </a>
    <ul class="collapse list-unstyled" id="msg" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/tickets"><span>Tickets</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/disputes"><span>Disputes</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#blog" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-fw fa-newspaper"></i>Blog
    </a>
    <ul class="collapse list-unstyled" id="blog" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/blog/category"><span>Categories</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/blog"><span>Posts</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/blog/blog-settings"><span>Blog Settings</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#general" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-cogs"></i>General Settings
    </a>
    <ul class="collapse list-unstyled" id="general" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/logo"><span>Logo</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/favicon"><span>Favicon</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/shipping"><span>Shipping Methods</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/package"><span>Packagings</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/pickup"><span>Pickup Locations</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/contents"><span>Website Contents</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/affilate"><span>Affiliate Program</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/popup"><span>Popup Banner</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/breadcrumb"><span>Breadcrumb Banner</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/error-banner"><span>Error Banner</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/maintenance"><span>Website Maintenance</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#homepage" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-edit"></i>Home Page Settings
    </a>
    <ul class="collapse list-unstyled" id="homepage" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/home-page-settings"><span>Home Pages</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/slider"><span>Sliders</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/arrival"><span>Best Month Offer</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/deal/of/day"><span>Deal of the day</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/service"><span>Services</span></a>
        </li>


        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/partner"><span>Partners</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/page-settings/customize"><span>Home Page Customization</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#menu" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-file-code"></i>Menu Page Settings
    </a>
    <ul class="collapse list-unstyled" id="menu" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/faq"><span>FAQ Page</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/page-settings/contact"><span>Contact Us Page</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/page"><span>Other Pages</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/menu/links"><span>Customize Menu Links</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#emails" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-at"></i>Email Settings
    </a>
    <ul class="collapse list-unstyled" id="emails" data-parent="#accordion">
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/email-templates"><span>Email Template</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/email-config"><span>Email Configurations</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/groupemail"><span>Group Email</span></a></li>
    </ul>
</li>




<li>
    <a href="#payments" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-file-code"></i>Payment Settings
    </a>
    <ul class="collapse list-unstyled" id="payments" data-parent="#accordion">
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/payment-informations"><span>Payment Information</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/paymentgateway"><span>Payment Gateways</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/currency"><span>Currencies</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/rewards"><span>Reward Information</span></a></li>
    </ul>
</li>

<li>
    <a href="#socials" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-paper-plane"></i>Social Settings
    </a>
    <ul class="collapse list-unstyled" id="socials" data-parent="#accordion">
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/social-link"><span>Social Links</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/social/facebook"><span>Facebook Login</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/social/google"><span>Google Login</span></a></li>
    </ul>
</li>

<li>
    <a href="#langs" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-language"></i>Language Settings
    </a>
    <ul class="collapse list-unstyled" id="langs" data-parent="#accordion">
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/languages"><span>Website Language</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/adminlanguages"><span>Admin Panel Language</span></a></li>

    </ul>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/fonts" class=" wave-effect"><i
            class="fa fa-font"></i>Font Option</a>
</li>

<li>
    <a href="#seoTools" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-wrench"></i>SEO Tools
    </a>
    <ul class="collapse list-unstyled" id="seoTools" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/popular/30"><span>Popular Products</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/seotools/analytics"><span>Google Analytics</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/seotools/keywords"><span>Website Meta Keywords</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/staff" class=" wave-effect"><i
            class="fas fa-user-secret"></i>Manage
                                Staffs</a>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/subscribers" class=" wave-effect"><i
            class="fas fa-users-cog mr-2"></i>Subscribers</a>
</li>


<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/role" class=" wave-effect"><i
            class="fas fa-user-tag"></i>Manage Roles</a>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/cache/clear" class=" wave-effect"><i
            class="fas fa-sync"></i>Clear Cache</a>
</li>


<li>
    <a href="#sactive" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-cog"></i>System Activation
    </a>
    <ul class="collapse list-unstyled" id="sactive" data-parent="#accordion">

        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/activation"> Activation</a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/generate/backup"> Generate Backup</a></li>
    </ul>
</li>

							<li class="mt-3 text-dark text-center">
							Version 4.0							</li>
											</ul>
				</nav>
				<!-- Main Content Area Start -->
				<div class="content-area">
    
    
    
    <div class="row row-cards-one">
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="mycard bg1">
                <div class="left">
                    <h5 class="title">Orders Pending! </h5>
                    <span class="number">27</span>
                    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=pending" class="link">View All</a>
                </div>
                <div class="right d-flex align-self-center">
                    <div class="icon">
                        <i class="icofont-dollar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="mycard bg2">
                <div class="left">
                    <h5 class="title">Orders Procsessing!</h5>
                    <span class="number">0</span>
                    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=processing" class="link">View All</a>
                </div>
                <div class="right d-flex align-self-center">
                    <div class="icon">
                        <i class="icofont-truck-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="mycard bg3">
                <div class="left">
                    <h5 class="title">Orders Completed!</h5>
                    <span class="number">0</span>
                    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=completed" class="link">View All</a>
                </div>
                <div class="right d-flex align-self-center">
                    <div class="icon">
                        <i class="icofont-check-circled"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="mycard bg4">
                <div class="left">
                    <h5 class="title">Total Products!</h5>
                    <span class="number">23</span>
                    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products" class="link">View All</a>
                </div>
                <div class="right d-flex align-self-center">
                    <div class="icon">
                        <i class="icofont-cart-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="mycard bg5">
                <div class="left">
                    <h5 class="title">Total Customers!</h5>
                    <span class="number">10</span>
                    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/users" class="link">View All</a>
                </div>
                <div class="right d-flex align-self-center">
                    <div class="icon">
                        <i class="icofont-users-alt-5"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="mycard bg6">
                <div class="left">
                    <h5 class="title">Total Posts!</h5>
                    <span class="number">12</span>
                    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/blog" class="link">View All</a>
                </div>
                <div class="right d-flex align-self-center">
                    <div class="icon">
                        <i class="icofont-newspaper"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row row-cards-one">
        <div class="col-md-6 col-xl-3">
            <div class="card c-info-box-area">
                <div class="c-info-box box1">
                    <p>0</p>
                </div>
                <div class="c-info-box-content">
                    <h6 class="title">New Customers</h6>
                    <p class="text">Last 30 Days</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card c-info-box-area">
                <div class="c-info-box box2">
                    <p>10</p>
                </div>
                <div class="c-info-box-content">
                    <h6 class="title">Total Customers</h6>
                    <p class="text">All Time</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card c-info-box-area">
                <div class="c-info-box box3">
                    <p>0</p>
                </div>
                <div class="c-info-box-content">
                    <h6 class="title">Total Sales</h6>
                    <p class="text">Last 30 days</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card c-info-box-area">
                <div class="c-info-box box4">
                     <p>0</p>
                </div>
                <div class="c-info-box-content">
                    <h6 class="title">Total Sales</h6>
                    <p class="text">All Time</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cards-one">

        <div class="col-md-12 col-lg-6 col-sm-12 col-xl-6">
            <div class="card">
                <h5 class="card-header">Recent Order(s)</h5>
                <div class="card-body">

                <div class="table-responsive  dashboard-home-table">
                                    <table id="poproducts" class="table table-hover dt-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>

                                    <th>Order Number</th>
                                    <th>Order Date</th>
                                </tr>
                                                                <tr>
                                    <td>kRL91739009679</td>
                                    <td>2025-02-08</td>
                                    <td>
                                        <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/order/27/show"><i
                                                    class="fas fa-eye"></i> Details</a>
                                        </div>
                                    </td>
                                </tr>
                                                                <tr>
                                    <td>ynlR1738308653</td>
                                    <td>2025-01-31</td>
                                    <td>
                                        <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/order/26/show"><i
                                                    class="fas fa-eye"></i> Details</a>
                                        </div>
                                    </td>
                                </tr>
                                                                <tr>
                                    <td>aaAM1738298586</td>
                                    <td>2025-01-31</td>
                                    <td>
                                        <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/order/25/show"><i
                                                    class="fas fa-eye"></i> Details</a>
                                        </div>
                                    </td>
                                </tr>
                                                                <tr>
                                    <td>hzOv1738040701</td>
                                    <td>2025-01-28</td>
                                    <td>
                                        <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/order/24/show"><i
                                                    class="fas fa-eye"></i> Details</a>
                                        </div>
                                    </td>
                                </tr>
                                                                <tr>
                                    <td>gVNv1732763745</td>
                                    <td>2024-11-28</td>
                                    <td>
                                        <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/order/23/show"><i
                                                    class="fas fa-eye"></i> Details</a>
                                        </div>
                                    </td>
                                </tr>
                                                            </thead>
                        </table>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-12 col-lg-6 col-sm-12 col-xl-6">
                <div class="card">
                        <h5 class="card-header">Recent Customer(s)</h5>
                        <div class="card-body">
        
                             <div class="table-responsive  dashboard-home-table">
                                    <table id="poproducts" class="table table-hover dt-responsive" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Customer Email</th>
                                            <th>Joined</th>
                                        </tr>
                                                                                <tr>
                                            <td>fazal@gmail.com</td>
                                            <td>2024-11-27 06:55:09</td>
                                            <td>
                                                <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/user/56/show"><i
                                                            class="fas fa-eye"></i> Details</a>
                                                </div>
                                            </td>
                                        </tr>
                                                                                <tr>
                                            <td>amn@gmail.com</td>
                                            <td>2024-11-22 18:10:14</td>
                                            <td>
                                                <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/user/55/show"><i
                                                            class="fas fa-eye"></i> Details</a>
                                                </div>
                                            </td>
                                        </tr>
                                                                                <tr>
                                            <td>amijanina@gmail.com</td>
                                            <td>2024-11-21 16:49:22</td>
                                            <td>
                                                <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/user/54/show"><i
                                                            class="fas fa-eye"></i> Details</a>
                                                </div>
                                            </td>
                                        </tr>
                                                                                <tr>
                                            <td>farhadwts@gmail.com</td>
                                            <td>2024-10-16 04:40:35</td>
                                            <td>
                                                <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/user/53/show"><i
                                                            class="fas fa-eye"></i> Details</a>
                                                </div>
                                            </td>
                                        </tr>
                                                                                <tr>
                                            <td>s@gmail.com</td>
                                            <td>2024-10-13 10:11:25</td>
                                            <td>
                                                <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/user/52/show"><i
                                                            class="fas fa-eye"></i> Details</a>
                                                </div>
                                            </td>
                                        </tr>
                                                                            </thead>
                                </table>
                            </div>
        
                        </div>
                    </div>
        </div>
    </div>

    <div class="row row-cards-one">

            <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
                    <div class="card">
                            <h5 class="card-header">Popular Product(s)</h5>
                            <div class="card-body">
            
                                <div class="table-responsive  dashboard-home-table">
                                    <table id="poproducts" class="table table-hover dt-responsive" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Featured Image</th>
                                                <th>Name</th>
                                                <th>Category</th>
                                                <th>Type</th>
                                                <th>Price</th>
                                                <th></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                                                                        <tr>
                                            <td><img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/products/1733223017bbbPPHVf.png"></td>
                                            <td>Fashion Physical product title will be here</td>
                                            <td>Men&#039;s Clothing
                                                                                                        <br>
                                                    Tops
                                                                                                                                                            <br>
                                                    T-Shirts
                                                                                                    </td>
                                                <td>Physical</td>

                                                <td> 120$ </td>

                                                <td>
                                                    <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/edit/498"><i
                                                                class="fas fa-eye"></i> Details</a>
                                                    </div>
                                                </td>
                                            </tr>
                                                                                        <tr>
                                            <td><img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/products/1733224672oz6wrOt6.png"></td>
                                            <td>Fashion Physical product title will be here</td>
                                            <td>Men&#039;s Clothing
                                                                                                        <br>
                                                    Outerwear
                                                                                                                                                            <br>
                                                    Coats
                                                                                                    </td>
                                                <td>Physical</td>

                                                <td> 190$ </td>

                                                <td>
                                                    <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/edit/496"><i
                                                                class="fas fa-eye"></i> Details</a>
                                                    </div>
                                                </td>
                                            </tr>
                                                                                        <tr>
                                            <td><img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/products/1733224609zo6AGfRZ.png"></td>
                                            <td>Fashion Physical product title will be here</td>
                                            <td>Men&#039;s Clothing
                                                                                                        <br>
                                                    Outerwear
                                                                                                                                                            <br>
                                                    Jackets
                                                                                                    </td>
                                                <td>Physical</td>

                                                <td> 129$ </td>

                                                <td>
                                                    <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/edit/497"><i
                                                                class="fas fa-eye"></i> Details</a>
                                                    </div>
                                                </td>
                                            </tr>
                                                                                        <tr>
                                            <td><img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/products/1733289857BmXQ0fLz.png"></td>
                                            <td>Fashion Physical product title will be here</td>
                                            <td>Unisex Shoes
                                                                                                        <br>
                                                    Sneakers
                                                                                                                                                            <br>
                                                    
                                                                                                    </td>
                                                <td>Physical</td>

                                                <td> 360$ </td>

                                                <td>
                                                    <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/edit/484"><i
                                                                class="fas fa-eye"></i> Details</a>
                                                    </div>
                                                </td>
                                            </tr>
                                                                                        <tr>
                                            <td><img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/products/173328832248xDy5Kj.png"></td>
                                            <td>Fashion Physical product title will be here</td>
                                            <td>Unisex Clothing
                                                                                                        <br>
                                                    Hoodies
                                                                                                                                                            <br>
                                                    
                                                                                                    </td>
                                                <td>Physical</td>

                                                <td> 460$ </td>

                                                <td>
                                                    <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/edit/491"><i
                                                                class="fas fa-eye"></i> Details</a>
                                                    </div>
                                                </td>
                                            </tr>
                                                                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
    
            </div>
    
        </div>

    <div class="row row-cards-one">

            <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
                    <div class="card">
                            <h5 class="card-header">Recent Product(s)</h5>
                            <div class="card-body">
            
                                <div class="table-responsive dashboard-home-table">
                                    <table id="pproducts" class="table table-hover dt-responsive" cellspacing="0" width="100%">
                                            <thead>
                                                    <tr>
                                                        <th>Featured Image</th>
                                                        <th>Name</th>
                                                        <th>Category</th>
                                                        <th>Type</th>
                                                        <th>Price</th>
                                                        <th></th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                                                                        <tr>
                                                    <td><img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/products/1733223017bbbPPHVf.png"></td>
                                                    <td>Fashion Physical product title will be here</td>
                                                    <td>Men&#039;s Clothing
                                                                                                                <br>
                                                        Tops
                                                                                                                                                                        <br>
                                                        T-Shirts
                                                                                                            </td>
                                                        <td>Physical</td>
                                                        <td> 120$ </td>
                                                        <td>
                                                            <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/edit/498"><i
                                                                        class="fas fa-eye"></i> Details</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                                                                        <tr>
                                                    <td><img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/products/1733224609zo6AGfRZ.png"></td>
                                                    <td>Fashion Physical product title will be here</td>
                                                    <td>Men&#039;s Clothing
                                                                                                                <br>
                                                        Outerwear
                                                                                                                                                                        <br>
                                                        Jackets
                                                                                                            </td>
                                                        <td>Physical</td>
                                                        <td> 129$ </td>
                                                        <td>
                                                            <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/edit/497"><i
                                                                        class="fas fa-eye"></i> Details</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                                                                        <tr>
                                                    <td><img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/products/1733224672oz6wrOt6.png"></td>
                                                    <td>Fashion Physical product title will be here</td>
                                                    <td>Men&#039;s Clothing
                                                                                                                <br>
                                                        Outerwear
                                                                                                                                                                        <br>
                                                        Coats
                                                                                                            </td>
                                                        <td>Physical</td>
                                                        <td> 190$ </td>
                                                        <td>
                                                            <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/edit/496"><i
                                                                        class="fas fa-eye"></i> Details</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                                                                        <tr>
                                                    <td><img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/products/1733224982418e3yol.png"></td>
                                                    <td>Fashion Physical product title will be here</td>
                                                    <td>Men&#039;s Clothing
                                                                                                                <br>
                                                        Activewear
                                                                                                                                                                        <br>
                                                        Tracksuits
                                                                                                            </td>
                                                        <td>Physical</td>
                                                        <td> 124$ </td>
                                                        <td>
                                                            <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/edit/495"><i
                                                                        class="fas fa-eye"></i> Details</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                                                                        <tr>
                                                    <td><img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/products/1733286614zJxOszbG.png"></td>
                                                    <td>Fashion Physical product title will be here</td>
                                                    <td>Women&#039;s Clothing
                                                                                                                <br>
                                                        Tops
                                                                                                                                                                        <br>
                                                        Tank Tops
                                                                                                            </td>
                                                        <td>Physical</td>
                                                        <td> 225$ </td>
                                                        <td>
                                                            <div class="action-list"><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/edit/494"><i
                                                                        class="fas fa-eye"></i> Details</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                                                                    </tbody>
                                    </table>
                                </div>
            
                            </div>
                        </div>
    
            </div>
    
    </div>

    <div class="row row-cards-one">

        <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
            <div class="card">
                <h5 class="card-header">Total Sales in Last 30 Days</h5>
                <div class="card-body">

                    <canvas  id="lineChart"></canvas>

                </div>
            </div>

        </div>

    </div>




    <div class="row row-cards-one">

        <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6">
            <div class="card">
                <h5 class="card-header">Top Referrals</h5>
                <div class="card-body">
                    <div class="admin-fix-height-card">
                         <div id="chartContainer-topReference"></div>
                    </div>
                       
                </div>
            </div>

        </div>

        <div class="col-md-12 col-lg-6 col-sm-12 col-xl-6">
                <div class="card">
                        <h5 class="card-header">Most Used OS</h5>
                        <div class="card-body">
                        <div class="admin-fix-height-card">
                            <div id="chartContainer-os"></div>
                        </div>
                        </div>
                    </div>
        </div>
        
    </div>



</div>

				<!-- Main Content Area End -->
			</div>
		</div>
	</div>
{% endblock %}